@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}

*{
  font-family: Outfit;
}
.font-playfair {
  font-family: 'Playfair'!important;
}